/*
 * Dark Brown: #231f20
 * Creamy Brown: #ffffe0
 * Green: #007200
 * Light Green: #4d9d4d
 * Light Purple: #aa81a3
 */

body { }

/* Colors */
.darkbrown { color: #231f20; }
.lightpurple { color: #aa81a3; }
.purple { color: #7a4173; }

/* Padding & Borders */
.nopad { padding: 0; margin: 0; }

/* Round things */
.round { -moz-border-radius: 1ex; -webkit-border-radius: 1ex; border-radius: 1ex; }
.roundleft {
  -moz-border-radius-topleft: 1ex; -webkit-border-top-left-radius: 1ex;
  -moz-border-radius-bottomleft: 1ex; -webkit-border-bottom-left-radius: 1ex;
}
.roundright {
  -moz-border-radius-topright: 1ex; -webkit-border-top-right-radius: 1ex;
  -moz-border-radius-bottomright: 1ex; -webkit-border-bottom-right-radius: 1ex;
}
.roundbottom {
  -moz-border-radius-bottomleft: 1ex; -webkit-border-bottom-left-radius: 1ex;
  -moz-border-radius-bottomright: 1ex; -webkit-border-bottom-right-radius: 1ex;
}

/* Main column */
#root .main { }
#root .main h2 {
  font-family: "Museo700", Helvetica, Arial, sans-serif; font-size: 14pt;
  text-transform: uppercase; padding: 1ex 0; margin: 1em 0;
}
#root .main h3 {
  font-size: 10pt; color: #666; text-transform: uppercase; padding: 1ex 0; margin: 1em 0;
}
#root .inside { }

/* Header */
#root #header {}
#root #header #logo { padding: 1ex 0; }
#root #header #logo h1 {
  font-family: "Museo700", Helvetica, Arial, sans-serif; font-size: 29pt; line-height: 1em;
  padding: 0; margin: 0;
}
#root #header #logo #subtitle { font-family: "Museo300", Helvetica, Arial, sans-serif; line-height: 1em; }
#root #header #slogan {
  padding: 0.75em; margin: 0 0 1em 0; background-color: #ddd; border: 1px solid #ddd;
  border-color: rgba(220, 220, 220, 0.35) rgba(100, 100, 100, 0.25) rgba(100, 100, 100, 0.25) rgba(220, 220, 220, 0.35);
  color: #333; font-weight: bold; text-shadow: 1px 1px 2px #fff;
}

/* Collective */
#root #collective p { text-align: justify; }
#root #collective p.notice { font-size: 180%; font-weight: bold; font-family: "Museo300", Helvetica, Arial, sans-serif;}

#root #collective #buzz { }
#root #collective #buzz ul { list-style-type: none; }
#root #collective #buzz li {
  text-align: right; cursor: pointer;
  padding: 1ex 0; margin: 0; border-bottom: 1px dotted #ddd;
  font-family: Georgia, serif; font-style: italic; font-size: 115%; color: #555;
}
#root #collective #buzz li.selected { color: #4d9d4d; background-color: #ffffe0; }
#root #collective #buzz li:last-child { border-bottom: 0; }
#root #collective #buzz li .more { font-style: normal; color: #ccc; }

#root #collective #buzz_bits .bit {
  text-align: left;
  background-color: #ffffe0; padding: 1em;
}
#root #collective #buzz_bits .bit ul {
  list-style-type: none; padding: 0; margin: 1ex 0 0 0;
}
#root #collective #buzz_bits .bit li {
  font-family: Georgia, serif; font-style: italic;
  margin: 0; color: #666; list-style: circle inside;
}

  #root #collective #buzz_bits .bit[data-buzz=app] { }
  #root #collective #buzz_bits .bit[data-buzz=kickstart] { }
  #root #collective #buzz_bits .bit[data-buzz=agile] { }
  #root #collective #buzz_bits .bit[data-buzz=ixd] { margin-top: 1em; }
  #root #collective #buzz_bits .bit[data-buzz=print] { margin-top: 2em; }
  #root #collective #buzz_bits .bit[data-buzz=security] { margin-top: 5em; }
  #root #collective #buzz_bits .bit[data-buzz=video] { margin-top: 6em; }
  #root #collective #buzz_bits .bit[data-buzz=photo] { margin-top: 9em; }
  #root #collective #buzz_bits .bit[data-buzz=social] { margin-top: 14em; }

/* Who */
#root #who .inside {
  border: 1px solid #ccc;
}

#root #who ul {
  list-style-type: none; margin: 0; border-right: 1px solid #ccc;
}
#root #who li {
  padding: 1ex 0 1ex 1em; margin: 0; border-bottom: 1px dotted #ddd;
  font-family: Georgia, serif; font-style: italic; color: #555;
}
#root #who li:last-child { border-bottom: 0; }
#root #who li:hover { cursor: pointer; color: #4d9d4d; }
#root #who li.selected { color: #4d9d4d; }

#root #who .bio { padding: 1em; }

/* Clients */

#root #clients ul {
  list-style-type: none; margin: 0;
}
#root #clients li {
  padding: 0; margin: 0;
}

/* Footer */
#root #footer { padding: 1ex; text-align: center; font-size: 90%; }
