/*
 * Dark Brown: #231f20
 * Creamy Brown: #fff9d8
 * Green: #007200
 * Light Green: #4d9d4d
 * Light Purple: #aa81a3
 */

body { }

/* Round things */
.round { -moz-border-radius: 1ex; -webkit-border-radius: 1ex; border-radius: 1ex; }
.roundleft {
  -moz-border-radius-topleft: 1ex; -webkit-border-top-left-radius: 1ex;
  -moz-border-radius-bottomleft: 1ex; -webkit-border-bottom-left-radius: 1ex;
}
.roundright {
  -moz-border-radius-topright: 1ex; -webkit-border-top-right-radius: 1ex;
  -moz-border-radius-bottomright: 1ex; -webkit-border-bottom-right-radius: 1ex;
}

/* Main column */
#root .main { }
#root .main h2 { font-size: 12pt; text-transform: uppercase; color: #777; padding: 0; margin: 0; }
#root .inside { }

/* Header */
#root #header {}
#root #header #logo { padding: 1em 0; }
#root #header #slogan {
  padding: 0.75em; margin: 0 0 1em 0; background-color: #ddd; border: 1px solid #ddd;
  border-color: rgba(220, 220, 220, 0.35) rgba(100, 100, 100, 0.25) rgba(100, 100, 100, 0.25) rgba(220, 220, 220, 0.35);
  color: #333; font-weight: bold; text-shadow: 1px 1px 2px #fff;
}

/* Collective */
#root #collective p { text-align: justify; }
#root #collective p.notice { font-size: 150%; font-weight: bold; }

#root #collective #buzz { }
#root #collective #buzz ul { list-style-type: none; }
#root #collective #buzz li {
  text-align: right;
  padding: 1ex 0; margin: 0; border-bottom: 1px dotted #ddd;
  font-family: Georgia, serif; font-style: italic; font-size: 115%; color: #555;
}
#root #collective #buzz li:hover { cursor: pointer; color: #4d9d4d; }
#root #collective #buzz li:last-child { border-bottom: 0; }
#root #collective #buzz li .more { font-style: normal; color: #ccc; }

/* Who */
#root #who .inside {
  border: 1px solid #ccc;
}

#root #who ul {
  list-style-type: none; margin: 0; border-right: 1px solid #ccc;
}
#root #who li {
  padding: 1ex 0 1ex 1em; margin: 0; border-bottom: 1px dotted #ddd;
  font-family: Georgia, serif; font-style: italic; color: #555;
}
#root #who li:last-child { border-bottom: 0; }
#root #who li:hover { cursor: pointer; color: #4d9d4d; }
#root #who li.selected { color: #4d9d4d; }

#root #who .bio { padding: 1em; }

/* Intro and proof */
/*#root #intro ul { list-style-type: none; border-bottom: 1px solid #aaa;}
#root #intro li {
  padding: 1ex 0; margin: 0; border-top: 1px solid #aaa;
}
#root #intro li .response {
  margin-left: 1em; padding: 0.5ex 0; color: #aa81a3;
  font-weight: bold;
}
#root #proof { }
*/
/* Footer */
#root #footer { padding: 1ex; text-align: center; font-size: 90%; }
